<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ExampleFive</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <img src="http://placehold.it/75" />
      </ion-thumbnail>
      <ion-label>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki 1988, Page: {{item}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-footer>
    <ion-toolbar>
      <ion-segment
        *ngIf="!transitioning"
        (ionChange)="setPage($event)"
        [value]="page"
      >
        <ion-segment-button value="1">
          <ion-label>1</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2">
          <ion-label>2</ion-label>
        </ion-segment-button>
        <ion-segment-button value="3">
          <ion-label>3</ion-label>
        </ion-segment-button>
        <ion-segment-button value="4">
          <ion-label>4</ion-label>
        </ion-segment-button>
        <ion-segment-button value="5">
          <ion-label>5</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>
  </ion-footer>
</ion-content>
