<ion-header>
  <ion-toolbar color="primary">
    <ion-title>ExampleOne</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="none">
    <ion-item *ngFor="let item of items">
      <ion-thumbnail slot="start">
        <img src="http://placehold.it/75" />
      </ion-thumbnail>
      <ion-label>
        <h2>My Neighbor Totoro</h2>
        <p>Hayao Miyazaki 1988</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
