<ion-header>
  <ion-toolbar color="primary">
    <ion-title> List Performance </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button routerLink="/example-one" routerDirection="forward"
    >Frame rate issues</ion-button
  >
  <ion-button routerLink="/example-two" routerDirection="forward"
    >Simplified</ion-button
  >
  <ion-button routerLink="/example-three" routerDirection="forward"
    >Virtual Scroll</ion-button
  >
  <ion-button routerLink="/example-four" routerDirection="forward"
    >Infinite List</ion-button
  >

  <ion-button routerLink="/example-five" routerDirection="forward"
    >Paged List</ion-button
  >
</ion-content>
